<div class="assunto">
  <h1>Usuarios</h1>
  <section>
    @if(!loading) {
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Mais detalhes</th>
            <th>Excluir</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.name }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.phone }}</td>
            <td><a routerLink="/usuarios/{{usuario.id}}"class="mais-detalhes">+</a></td>
            <td><button class="delete" (click)="removerUsuario(usuario.id)">x</button></td>
          </tr>
        </tbody>
      </table>
    } @else {
      <div class="loading">
        <p>Carregando...</p>
      </div>
    }
  </section>
</div>
